body{
  background: -webkit-linear-gradient(315deg, rgb(29, 33, 36) 1%,rgb(10,8,6) 100%);
  background: -moz-linear-gradient(315deg, rgb(29, 33, 36) 1%,rgb(10,8,6) 100%);
  background: -o-linear-gradient(315deg, rgb(29, 33, 36) 1%,rgb(10,8,6) 100%);
  background: linear-gradient(135deg, rgb(29, 33, 36) 1%,rgb(10,8,6) 100%);
}

body,
.card__vote{
  color: #cedfdc;
}
body.black--style {
  background: #111920;
}

.menu__item.focus, 
.menu__item.traverse, 
.menu__item.hover,
.settings-folder.focus,
.settings-param.focus,
.selectbox-item.focus,
.selectbox-item.hover,
.full-person.focus,
.full-start__button.focus,
.full-descr__tag.focus,
.simple-button.focus,
.head__action.focus, 
.head__action.hover,
.player-panel .button.focus,
.search-source.active{
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, rgb(222, 254, 242)),to(rgb(171, 205, 237)));
  background: -webkit-linear-gradient(left, rgba(222, 254, 242) 1%,rgba(171, 205, 237) 100%);
  background: -moz-linear-gradient(left, rgba(222, 254, 242) 1%,rgba(171, 205, 237) 100%);
  background: -o-linear-gradient(left, rgba(222, 254, 242) 1%,rgba(171, 205, 237) 100%);
  background: linear-gradient(to right, rgba(222, 254, 242) 1%,rgba(171, 205, 237) 100%);
  color: #000;
}

.settings-folder.focus .settings-folder__icon{
  -webkit-filter: invert(1);
          filter: invert(1);
}

.settings-param-title > span{
  color: #fff;
}

.settings__content,
.settings-input__content,
.selectbox__content,
.modal__content{
background: -webkit-linear-gradient(315deg, rgb(20, 26, 27) 1%,rgb(10,8,6) 100%);
background: -moz-linear-gradient(315deg, rgb(20, 26, 27) 1%,rgb(10,8,6) 100%);
background: -o-linear-gradient(315deg, rgb(20, 26, 27) 1%,rgb(10,8,6) 100%);
background: linear-gradient(135deg, rgb(20, 26, 27) 1%,rgb(10,8,6) 100%);
}

.settings-input__links{
  background-color: rgba(255,255,255,0.2);
}

.card.focus .card__view::after, 
.card.hover .card__view::after,
.extensions__item.focus:after,
.torrent-item.focus::after,
.extensions__block-add.focus:after{
  border-color: rgb(171, 205, 237);
}
.online-prestige.focus::after{
  border-color: rgb(171, 205, 237) !important;
}
.time-line > div,
.player-panel__position,
.player-panel__position > div:after{
  background-color: rgb(171, 205, 237);
}
.torrent-item__size,
.torrent-item__exe,
.torrent-item__viewed,
.torrent-serial__size{
  background-color: #cedfde;
  color: #000;
}

.torrent-serial{
  background-color: rgba(206, 223, 223, 0.1);
}
.torrent-file.focus,
.torrent-serial.focus{
  background-color: rgba(206, 223, 221, 0.36);
}
